@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

:root {
    --primary1: hsl(158, 36%, 37%);
    --primary2: hsl(30, 38%, 92%);
    --neutral1: hsl(212, 21%, 14%);
    --neutral2: hsl(228, 12%, 48%);
    --neutral3: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: var(--primary2);
}

.container {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    width: 600px;
    border-radius: 20px;
    background-color: var(--neutral3);
}

.left {
    width: 50%;
    height: 500px;
    background-image: url(images/image-product-desktop.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 20px 0 0 20px;
}

.right {
    width: 50%;
    border-radius: 0 20px 20px 0;
    padding: 20px;
}

.right h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: var(--neutral2);
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.right h2 {
    font-family: 'Fraunces', serif;
    color: var(--neutral1);
    font-size: 30px;
    margin-bottom: 30px;
}

.right p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: var(--neutral2);
    line-height: 25px;
    margin-bottom: 30px;
}

.price {
    font-family: 'Fraunces', serif;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#big-price {
    color: var(--primary1);
    font-size: 30px;
    font-weight: bold;
}

#small-price {
    color: var(--neutral2);
    font-size: 18px;
    text-decoration: line-through;
    width: 100%;
    padding-left: 10px;
}


button {
    background-color: var(--primary1);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--neutral3);
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button img {
    font-size: 20px;
    margin: 10px;
}

button span {
    font-size: 18px;
}

button:hover {
    background-color: hsl(158, 53%, 15%);
    cursor: pointer;
}

.attribution {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    text-decoration: none;
}

.attribution a {
    text-decoration: none;
    color: var(--primary1);
}

/* Tampilan Mobile */
@media (max-width: 600px) {
    .card {
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin: 20px 10px;
        border-radius: 20px;
    }

    br {
        display: none;
    }

    .left {
        background-image: url(images/image-product-mobile.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 50%;
    }

    .right {
        border-radius: 0 0 20px 20px;
        width: 100%;
        height: auto;
    }

    .right h4 {
        font-size: 15px;
        letter-spacing: 5px;
        margin-bottom: 4px;
    }
    .right h2 {
        font-size: 35px;
        margin-bottom: 8px;
    }
    .right p {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .price {
        display: flex;
        align-items: center;
    }

    #big-price {
        font-size: 35px;
    }

    #small-price {
        font-size: 20px;
        padding-left: 10px;
    }
}